<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.zakariya.stickyheadersapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CTCIApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/ctci"
        android:launchMode="singleTop"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/ctci"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AddressBookDemoActivity"
            android:label="@string/ctci"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.HeaderCallbacksDemoActivity"
            android:label="@string/ctci"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.StressTestDemoActivity"
            android:label="@string/ctci"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.CollapsingSectionsDemoActivity"
            android:label="@string/ctci"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.SectioningAdapterDemoActivity"
            android:label="@string/ctci"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.CodeView"
            android:label="@string/ctci"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.PdfView"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_pdfview"
            android:theme="@style/FullscreenTheme"></activity>
    </application>

</manifest>